.shepherd-button-secondary {
    background-color: white !important;
    color: #212529 !important;
    border: 1px solid #212529 !important;
}

.shepherd-button-primary {
    background-color: #212529 !important;
    color: white !important;
    border: 1px solid white !important;
}

.shepherd-text {
    margin-bottom: 1rem;
}

.custom-shepherd-class {
}

@media (max-width: 768px) {
    .custom-shepherd-class {
        max-width: 75% !important;
    }
    .shepherd-title {
        font-size: 16px !important;
    }
    .shepherd-text {
        font-size: 14px !important;
    }
    .shepherd-button-secondary, .shepherd-button-primary {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}