@import "themes/theme";

.shepherd-button-secondary {
    background-color: var(--primaryButtonColor) !important;
    color: var(--primaryButtonBackground) !important;
    border: 1px solid var(--primaryButtonBackground) !important;
    width: 85px;
}

.shepherd-button-primary {
    background-color: var(--primaryButtonBackground) !important;
    color: var(--primaryButtonColor) !important;
    border: 1px solid var(--primaryButtonBackground) !important;
    width: 85px;
}

.shepherd-text {
    margin-bottom: 1rem;
}

.shepherd-header {
    padding: 0.25rem 0.75rem !important;
}

.dark-theme .shepherd-header {
    background-color: var(--dropdownItemHoverBackground) !important;
    .shepherd-title {
        color: var(--color) !important;
    }
}

.dark-theme .shepherd-content {
    background-color: var(--background) !important;
    .shepherd-text {
        color: var(--color) !important;
    }
}

.shepherd-cancel-icon {
    position: relative;
    bottom: 2px;
}

.custom-shepherd-class {
}

@media (max-width: 425px) {
    .custom-shepherd-class {
        max-width: 85% !important;
    }
    .shepherd-title {
        font-size: 16px !important;
    }
    .shepherd-text {
        font-size: 14px !important;
    }
    .shepherd-button-secondary, .shepherd-button-primary {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}