@import "app/styles/tour.scss";
@import "app/styles/themes/theme";

@mixin roboto-serif($uniquifier, $weight) {

    @if $weight < 100 or $weight > 900 {
        @warn "Weight should be between 100 and 900. Defaulting to 400.";
        $weight: 400;
    }

    .roboto-serif-#{$uniquifier} {
        font-family: "Roboto Serif", serif;
        font-optical-sizing: auto;
        font-weight: $weight;
        font-style: normal;
        font-variation-settings: "wdth" 87.5, "GRAD" 0;
    }
}  

@mixin open-sans($uniquifier, $weight) {
    @if $weight < 300 or $weight > 800 {
        @warn "Weight should be between 300 and 800. Defaulting to 400.";
        $weight: 400;
    }

    .open-sans-#{$uniquifier} {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: $weight;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
}
  
@mixin font-size($size) {
    @if $size < 8 or $size > 40 {
        @warn "Font size should be between 8 and 32. Defaulting to 16px.";
        $size: 16;
    }

    .font-size-#{$size} {
        font-size: #{$size}px !important;
    }

    .font-size-md-#{$size} {
        font-size: #{$size}px !important;
        @media (max-width: 768px) {
            font-size: #{$size * 0.75}px !important;
        }
    }

    .font-size-sm-#{$size} {
        font-size: #{$size}px !important;
        @media (max-width: 576px) {
            font-size: #{$size * 0.65}px !important;
        }
    }

    .font-size-md-sm-#{$size} {
        font-size: #{$size}px !important;
        @media (max-width: 768px) {
            font-size: #{$size * 0.75}px !important;
        }
        @media (max-width: 576px) {
            font-size: #{$size * 0.65}px !important;
        }
    }

}

@for $i from 8 through 40 {
    @include font-size($i);
  }

.cursor-pointer {
    cursor: pointer;
}

@import 'bootstrap/scss/bootstrap';
