<div id="main-container" class="container-fluid user-select-none main-container d-flex flex-column p-0">

  <div class="overlay" *ngIf="showPopover"></div>

  <ng-container *ngIf="showPopover">

    <app-popover
      [@slide]
      class="app-popover"
      [popoverType]="popoverType"
      [mistakesDistri]="mistakesDistri"
      [doNotShowHelpAgain]="doNotShowHelpAgain ?? false"
      (closeEventEmitter)="closePopover($event)"
    >
    </app-popover>
    
  </ng-container>

  <!-- Navbar -->
  <div id="navbar" class="container-lg d-flex align-items-center px-3 py-2 py-md-3 border-bottom">
    <div id="game-title">
      <ng-container *ngIf="!isMobile; else logo">
        <span class="roboto-serif-header font-size-md-32 me-sm-3 me-1">Connections</span>
        <span class="roboto-serif-body font-size-md-24">{{ istDate }}</span>
      </ng-container>
      <ng-template #logo>
        <img src="images/connection.png" height="26px">
      </ng-template>
    </div>
    <div class="icons-group d-flex ms-auto align-items-center">
      <div class="d-flex position-relative" ngbDropdown>        
        <span
          #iconBulb
          id="iconBulb"
          data-no-icon="true"
          class="material-symbols-outlined me-1 p-1 font-size-md-34 cursor-pointer"
          [ngClass]="showHint && !isGameOver ? 'hintRevealed' : ''" 
          (touchstart)="setActiveTouch(iconBulb)"
          (mouseenter)="setActiveMouse(iconBulb)"
          (mouseleave)="removeActiveMouse(iconBulb)"
          (touchend)="removeActiveTouch(iconBulb)"
          (touchcancel)="removeActiveTouch(iconBulb)"
          ngbDropdownToggle
        >
          lightbulb
        </span>
        <div ngbDropdownMenu aria-labelledby="iconBulb">
          <button ngbDropdownItem [disabled]="isGameOver" (click)="toggleHint()">{{ showHint && !isGameOver ? 'Hide Hint' : 'Reveal Hint' }}</button>
        </div> 
      </div>
      <span
        #iconHelp 
        class="material-symbols-outlined ms-1 me-1 p-1 font-size-md-34 cursor-pointer"
        (touchstart)="setActiveTouch(iconHelp)"
        (mouseenter)="setActiveMouse(iconHelp)"
        (mouseleave)="removeActiveMouse(iconHelp)"
        (touchend)="removeActiveTouch(iconHelp)"
        (touchcancel)="removeActiveTouch(iconHelp)"
        (click)="openHowToPlay()"
      >
        help
      </span>
      <div class="d-flex position-relative" ngbDropdown>
        <span
          #iconSettings
          id="iconSettings"
          data-no-icon="true" 
          class="material-symbols-outlined ms-1 me-1 p-1 font-size-md-34 cursor-pointer"
          (touchstart)="setActiveTouch(iconSettings)"
          (mouseenter)="setActiveMouse(iconSettings)"
          (mouseleave)="removeActiveMouse(iconSettings)"
          (touchend)="removeActiveTouch(iconSettings)"
          (touchcancel)="removeActiveTouch(iconSettings)"
          ngbDropdownToggle
        >
          settings
        </span>
        <div 
          class="new-badge font-size-md-12 open-sans-header position-absolute"
          [ngStyle]="(isTablet || isMobile) ? { top: '-4px', right: '-5px' } : { top: '-8px', right: '-10px' }"
        >
          NEW!
        </div>
        <div ngbDropdownMenu aria-labelledby="iconSettings">
          <button ngbDropdownItem (click)="toggleTheme()" class="d-flex align-items-center">
            <span class="material-symbols-outlined me-2">
              {{ themeService.darkMode ? 'light_mode' : 'dark_mode' }}
            </span>
            <span>
              {{ themeService.darkMode ? 'Light Mode' : 'Dark Mode' }}
            </span>
          </button>
        </div> 
      </div>
      <ng-container *ngIf="isLoggedIn; else login">
        <div class="d-flex" ngbDropdown>
          <span
            #iconAcc
            class="material-symbols-outlined ms-1 p-1 font-size-md-34 cursor-pointer" 
            id="barChartDropdown" 
            data-no-icon="true"
            (touchstart)="setActiveTouch(iconAcc)"
            (mouseenter)="setActiveMouse(iconAcc)"
            (mouseleave)="removeActiveMouse(iconAcc)"
            (touchend)="removeActiveTouch(iconAcc)"
            (touchcancel)="removeActiveTouch(iconAcc)"
            ngbDropdownToggle
          >
            account_circle
          </span>
          <div ngbDropdownMenu aria-labelledby="barChartDropdown">
            <button ngbDropdownItem (click)="openStats()">Stats</button>
            <button (click)="logout()" ngbDropdownItem>Log Out</button>
          </div>
        </div>
      </ng-container>
      <ng-template #login>
        <a class="d-flex text-decoration-none" [href]="_apiService.baseUrl + 'login/federated/google'">
          <span
            #iconLogin 
            id="iconLogin"
            class="material-symbols-outlined ms-1 p-1 font-size-md-34 cursor-pointer"
            (touchstart)="setActiveTouch(iconLogin)"
            (mouseenter)="setActiveMouse(iconLogin)"
            (mouseleave)="removeActiveMouse(iconLogin)"
            (touchend)="removeActiveTouch(iconLogin)"
            (touchcancel)="removeActiveTouch(iconLogin)"
          >
            login
          </span>
        </a>
      </ng-template>
    </div>
  </div>
  
  <ng-container *ngIf="!showLayover">

    
    <div id="content-container" class="container-lg d-flex flex-column position-relative">  

      <!-- Message -->
      <div id="message" class="d-flex align-items-center justify-content-center py-3 position-relative">
        <span class="open-sans-body font-size-md-22">{{ message }}</span>
        <ng-container *ngIf="showAlert">
          <div id="alert" class="alert py-2 w-20-p">
            <span class="open-sans-body font-size-md-sm-24">{{ alertMessage }}</span>
          </div>
        </ng-container>
      </div>

      <!-- Game -->
      <div id="game" class="d-flex justify-content-center">
        <div class="game-grid">
          <ng-container *ngFor="let row of groupsFound">
            <div [id]="'group-'+ row['class']" class="row">
              <div 
                *ngIf="showSheen" 
                class="sheen position-fixed dynamic-height m-1" 
                [@sheenMove]="{ value: true, params: { endX: width > 650 ? '650px' : width + 'px' } }"
              > </div>
              <div class="col d-flex flex-column m-1 justify-content-center align-items-center text-center revealedGroup dynamic-height" [ngClass]="row['class']">
                <div class="font-size-md-22 open-sans-header">
                  {{ row['category'] | uppercase }}
                </div>
                <div class="font-size-md-18 open-sans-body">
                  <div>
                    <ng-container *ngFor="let id of row['answers']; let i = index">
                      {{ words[id] | uppercase }}<span *ngIf="i < row['answers'].length - 1">, </span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngFor="let row of order; let i = index">
            <div class="row">
              <ng-container *ngFor="let item of row; let j = index">
                <div
                  [id]="'word' + item" 
                  class="col d-flex justify-content-center align-items-center text-center wordTile m-1 px-1 dynamic-height"
                  (click)="toggleSelection(item)"
                  [ngClass]="getWordClasses(item)"
                >
                  <span 
                    class="open-sans-header" 
                    [ngClass]="adjustFontSizeAndWidth(words[item])">

                    {{words[item] | uppercase}}

                  </span>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Mistakes remaining -->
       <ng-container *ngIf="!isGameOver">
         <div id="mistakes" class="d-flex justify-content-center py-3">
           <div class="d-flex align-items-center">
             <span class="open-sans-body font-size-md-22 me-2">Mistakes remaining: </span>
             <ng-container *ngFor="let item of allocatedMistakes; index as i">
               <span 
                  class="material-symbols-outlined mistake-circle-fill ms-1 font-size-md-26"
                >
                 circle
               </span>
             </ng-container>
           </div>
         </div>
       </ng-container>

      <!-- Buttons -->
      <div id="buttons"  class="d-flex justify-content-center pt-2 pb-4">
        <ng-container *ngIf="!isGameOver">
          <button type="button" class="btn-md-lg game-buttons mx-1 font-size-md-24" (click)="shuffleAndBlink()" [disabled]="!mistakesRemaining.length || isShuffling">Shuffle</button>
          <button type="button" class="btn-md-lg game-buttons mx-1 font-size-md-24" (click)="deselectAll()" [disabled]="!mistakesRemaining.length || !selectedWords.length">Deselect all</button>
          <button type="button" class="btn-md-lg submit-button mx-1 font-size-md-24" (click)="submit()" [disabled]="!mistakesRemaining.length || selectedWords.length!==4">Submit</button>
        </ng-container>
        <ng-container *ngIf="isGameOver">
          <div class="d-flex py-3">
            <button type="button" class="btn-md-lg game-buttons mx-2 font-size-md-24" (click)="share()">
              <div class="d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined font-size-md-32 me-2">
                  share
                </span>
                <span>Share</span>
              </div>
            </button>
            <button *ngIf="isLoggedIn" type="button" class="btn-md-lg game-buttons mx-2 font-size-md-24" (click)="openStats()">
                <div class="d-flex justify-content-center align-items-center">
                  <span class="material-symbols-outlined font-size-md-32 me-2">
                    bar_chart
                  </span>
                  <span>View Stats</span>
                </div>
            </button>
          </div>
        </ng-container>
      </div>   
    </div>    
  </ng-container>

  <ng-container *ngIf="showLayover">

    <app-layover
      [istDate]="istDate"
      [isMobile]="isMobile"
      [isLoggedIn]="isLoggedIn"
      [isGameOver]="isGameOver"
      [layoverHeight]="layoverHeight"
      [dataIsLoading]="dataIsLoading"
      [greetingMessage]="greetingMessage"
      [buttonText]="buttonText"
      (playEventEmitter)="play()"
    >
    </app-layover>
    
  </ng-container>

  <!-- Footer -->
  <div id="footer" class="container-lg d-flex align-items-center px-3 py-2 py-md-3 border-top mt-auto">
    <div id="footer-name">
      <span class="roboto-serif-header font-size-md-16">Made by Udbhav Dalal</span>
    </div>
    <div id="socials" class="icons-group d-flex ms-auto">
      <a href="https://www.instagram.com/udbhavdalal/" target="_blank"><i class="fa-brands fa-instagram me-3 cursor-pointer"></i></a>
      <a href="mailto:udbhavdalal062001@gmail.com" target="_blank"><i class="fa-regular fa-envelope ms-2 me-3 cursor-pointer"></i></a>
      <a href="https://x.com/UdbhavDalal" target="_blank"><i class="fa-brands fa-twitter ms-2 cursor-pointer"></i></a>
    </div>
  </div>

</div>

<router-outlet />
