<div class="container-lg">

  <!-- Navbar -->
  <div id="navbar" class="d-flex align-items-center p-md-3 p-2 border-bottom">
    <div id="game-title">
      <span class="roboto-serif-header font-size-md-28 me-sm-3 me-1">Connections</span>
      <span *ngIf="!isMobile" class="roboto-serif-body font-size-md-20">{{ date }}</span>
    </div>
    <div class="icons-group d-flex ms-auto">
      <span class="material-symbols-outlined me-1 font-size-md-26">
        lightbulb
      </span> 
      <span class="material-symbols-outlined ms-2 me-1 font-size-md-26">
        settings
      </span>
      <span class="material-symbols-outlined ms-2 me-1 font-size-md-26">
        bar_chart
      </span>
      <span class="material-symbols-outlined ms-2 font-size-md-26">
        help
      </span>
    </div>
  </div>

  <!-- Message -->
  <div id="message" class="d-flex align-items-center justify-content-center py-3">
    <span class="open-sans-body font-size-md-20">{{ message }}</span>
  </div>

  <!-- Game -->
  <div id="game" class="d-flex justify-content-center">
    <div class="game-grid">
      <ng-container *ngFor="let row of groupsFound">
        <div class="row">
          <div class="col d-flex flex-column m-1 py-3 justify-content-center align-items-center text-center revealedGroup" [ngClass]="row['class']">
            <div class="font-size-md-sm-20 open-sans-header">
              {{ row['category'] | uppercase }}
            </div>
            <div class="font-size-md-sm-16 open-sans-body">
              <div>
                <ng-container *ngFor="let id of row['answers']; let i = index">
                  {{ words[id] | uppercase }}<span *ngIf="i < row['answers'].length - 1">, </span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let row of order; let i = index">
        <div class="row">
          <ng-container *ngFor="let item of row; let j = index">
            <div
              [id]="'word' + item" 
              class="col d-flex justify-content-center align-items-center text-center wordTile m-1 px-1"
              (click)="toggleSelection(item)"
              [ngClass]="[
                          selectedWords.length == 4 ? '' : 'cursor-pointer',
                          selectedWords.includes(item) ? 'selectedWordTile' : ''
                          ]">
              <span 
                class="open-sans-header" 
                [ngClass]="adjustFontSizeAndWidth(words[item])">

                {{words[item] | uppercase}}

              </span>
            </div>
          </ng-container>
        </div>
      </ng-container>
   </div>
  </div>

  <!-- Mistakes remaining -->
  <div id="mistakes" class="d-flex justify-content-center py-3">
    <div class="d-flex align-items-center">
      <span class="open-sans-body font-size-md-20 me-2">Mistakes remaining: </span>
      <ng-container *ngFor="let item of mistakesRemaining">
        <span class="material-symbols-outlined ms-1 font-size-md-20">
          radio_button_unchecked
        </span>
      </ng-container>
    </div>
  </div>

  <!-- Buttons -->
  <div id="buttons"  class="d-flex justify-content-center py-2">
    <button type="button" class="btn btn-md-lg btn-outline-dark game-buttons mx-1 font-size-md-20" (click)="shuffle()">Shuffle</button>
    <button type="button" class="btn btn-md-lg btn-outline-dark game-buttons mx-1 font-size-md-20" (click)="deselectAll()" [disabled]="!selectedWords.length">Deselect all</button>
    <button type="button" class="btn btn-md-lg btn-outline-dark game-buttons mx-1 font-size-md-20" (click)="submit()" [disabled]="selectedWords.length!==4">Submit</button>
  </div>

</div>

<router-outlet />
