@import "../styles.scss";

@include roboto-serif("header", 700);
@include roboto-serif("body", 400);
@include open-sans("header", 700);
@include open-sans("bold", 500);
@include open-sans("body", 400);

.active-mouse {
    text-decoration: underline;
}

.active-touch {
    background-color: rgba(178, 167, 254, 0.25);
}

.main-container {
    height: 100vh;
}

.game-grid {
    width: 100%;
    max-width: 650px;
}

.wordTile {
    background-color: $tileBackground;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.revealedGroup {
    border-radius: 10px;
}

.yellow {
    background-color: $yellow;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}

.selectedWordTile {
    background-color: $selectedTileBackground;
    color: white;
}

.font-variation-width-85 {
    font-variation-settings: "wdth" 85;
}

.mistake-circle {
    color: $selectedTileBackground;
    font-variation-settings: 'FILL' 1;
}

.game-buttons {
    border-radius: 25px;
    font-weight: 500;
    color: #212529;
    border: 1px solid #212529;
    background-color: #fff;
}

.submit-button {
    border-radius: 25px;
    font-weight: 500;
    border: 1px solid #212529;
    color: #fff;
    background-color: rgba(33, 37, 41); 
}

.game-buttons:active {
    color: #fff;
    background-color: #212529;   
}

.submit-button:active {
    color: #fff;
    background-color: rgba(33, 37, 41, 0.75);
}

.game-buttons:disabled {
    opacity: 0.5;
}

.submit-button:disabled {
    opacity: 0.5;
    color: #212529;
    background-color: #fff;
}

.game-buttons:disabled:active {
    color: #212529;
    background-color: #fff;
}

.dropdown-toggle[data-no-icon="true"]::after {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.app-popover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    .icons-group {
        font-size: 22px;
        a {
            text-decoration: none;
            color: black;
        }
        i:hover {
            animation: fa-bounce 1s;
        }
    }
    @media (max-width: 768px) {
        .icons-group {
            font-size: 18px;
            a {
                margin-top: 3px;
            }
        }   
    }
}

.btn-md-lg {
    padding: 0.65rem 2rem;
    @media (max-width: 768px) {
        padding: 0.9rem 1.7rem;
    }
    @media (max-width: 425px) {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 18px !important;
    }
    @media (max-width: 375px) {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 16px !important;
    }
    @media (max-width: 345px) {
        padding-left: 14px;
        padding-right: 14px;
        font-size: 16px !important;
    }
    @media (max-width: 322px) {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 15px !important;
    }
}

.dynamic-height {
    height: 15vh;
    min-height: 75px;
    max-height: 150px;
    @media (min-height: 600px) {
        max-height: 80px;
    }
}

.sheen {
    width: 50px !important;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.25);
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    33% {
      transform: translateY(-7px);
    }
    66% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.bounce {
    animation: bounce 0.45s ease;
} 

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    16.6% {
        transform: translateX(-5px);
    }
    33.3% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    66.6% {
        transform: translateX(5px);
    }
    83.3% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s ease 2;
    background-color: $wrongGuessTileBackground;
}


@keyframes slide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--final-x), var(--final-y));
    }
}
  
.slide {
    animation: slide 0.65s ease forwards;
}

.alert {
    position: absolute;
    padding: 4px 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50, 50, 50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInOut 2.5s ease-in-out forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .fadeOut {
    animation: fadeOut 0.2s ease forwards;
  }

  .fadeIn {
    animation: fadeIn 0.2s ease forwards;
  }

  
  