@import "../styles.scss";

@include roboto-serif("header", 700);
@include roboto-serif("body", 400);
@include open-sans("header", 700);
@include open-sans("bold", 500);
@include open-sans("body", 400);

.main-container {
    min-height: 100vh;
    color: var(--color);
    background-color: var(--background);

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .app-popover {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // navbar
    #navbar {
        .icons-group {
            .material-symbols-outlined {
                color: var(--color);
                a {
                    color: var(--color);
                }
            }
            .active-mouse {
                text-decoration: underline;
            }
            .active-touch {
                background-color: var(--iconsHoverBackground);
            }
            .hintRevealed {
                color: var(--yellow);
            }
        }
        .dropdown-menu {
            background-color: var(--background);
            border: 1px solid var(--color);
            .dropdown-item {
                color: var(--color);
            }
            .dropdown-item:hover {
                background-color: var(--dropdownItemHoverBackground);
            }
            .dropdown-item:active {
                background-color: var(--dropdownItemActiveBackground);
            }
            .dropdown-item:disabled {
                color: var(--primaryButtonBackgroundActive);
            }
        }
    }

    // content
    #content-container {
        #message {
            .alert {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--alertBackground);
                color: var(--alertColor);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                animation: fadeInOut 2.5s ease-in-out forwards;
            }
        }

        #game {
            .game-grid {
                width: 100%;
                max-width: 650px;

                // Groups Found
                .revealedGroup {
                    border-radius: 10px;
                    color: black;
                }
                .yellow {
                    background-color: var(--yellow);
                }
                .green {
                    background-color: var(--green);
                }
                .blue {
                    background-color: var(--blue);
                }   
                .purple {
                    background-color: var(--purple);
                }
                .dynamic-height {
                    height: 15vh;
                    min-height: 75px;
                    max-height: 150px;
                    @media (min-height: 600px) {
                        max-height: 80px;
                    }
                }
                .sheen {
                    width: 50px !important;
                    z-index: 5;
                    background-color: var(--sheenColor);
                }

                // Word Tiles
                .wordTile {
                    background-color: var(--tileBackground);
                    border-radius: 10px;
                    transition: background-color 0.3s ease;
                }
                .yellow-overlay {
                    background-color: var(--yellowOverlay);
                }
                .green-overlay {
                    background-color: var(--greenOverlay);
                }
                .blue-overlay {
                    background-color: var(--blueOverlay);
                }
                .purple-overlay {
                    background-color: var(--purpleOverlay);
                }
                .selectedWordTile {
                    background-color: var(--selectedTileBackground);
                    color: var(--primaryButtonColor);
                }
                .font-variation-width-85 {
                    font-variation-settings: "wdth" 85;
                }                
            }
        }

        #mistakes {
            .mistake-circle-fill {
                color: var(--selectedTileBackground);
                font-variation-settings: 'FILL' 1;
            }
            
            .mistake-circle {
                color: var(--selectedTileBackground);
            }
        }

        #buttons {
            .game-buttons {
                border-radius: 25px;
                font-weight: 500;
                color: var(--primaryButtonBackground);
                border: 2px solid var(--primaryButtonBackground);
                background-color: var(--primaryButtonColor);
            }
            
            .submit-button {
                border-radius: 25px;
                font-weight: 500;
                border: 2px solid var(--primaryButtonBackground);
                color: var(--primaryButtonColor);
                background-color: var(--primaryButtonBackground);
            }
            
            .game-buttons:active {
                color: var(--primaryButtonColor);
                background-color: var(--primaryButtonBackground); 
            }
            
            .submit-button:active {
                color: var(--primaryButtonColor);
                background-color: var(--primaryButtonBackgroundActive);
            }
            
            .game-buttons:disabled {
                opacity: 0.5;
            }
            
            .submit-button:disabled {
                opacity: 0.5;
                color: var(--primaryButtonBackground);
                background-color: var(--primaryButtonColor);
            }
            
            .game-buttons:disabled:active {
                color: var(--primaryButtonBackground);
                background-color: var(--primaryButtonColor);
            }
        }
    }

    #footer {
        .icons-group {
            font-size: 22px;
            a {
                text-decoration: none;
                color: var(--color);;
            }
            i:hover {
                animation: fa-bounce 1s;
            }
        }
        @media (max-width: 768px) {
            .icons-group {
                font-size: 18px;
                a {
                    margin-top: 3px;
                }
            }   
        }
    }
}

.dropdown-toggle[data-no-icon="true"]::after {
    display: none;
}

.btn-md-lg {
    padding: 0.65rem 2rem;
    @media (max-width: 768px) {
        padding: 0.9rem 1.7rem;
    }
    @media (max-width: 425px) {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 18px !important;
    }
    @media (max-width: 375px) {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 16px !important;
    }
    @media (max-width: 345px) {
        padding-left: 14px;
        padding-right: 14px;
        font-size: 16px !important;
    }
    @media (max-width: 322px) {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 15px !important;
    }
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    33% {
      transform: translateY(-7px);
    }
    66% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(0);
    }
}
  
.bounce {
    animation: bounce 0.45s ease;
} 

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    16.6% {
        transform: translateX(-5px);
    }
    33.3% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    66.6% {
        transform: translateX(5px);
    }
    83.3% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s ease 2;
    background-color: var(--wrongGuessTileBackground);
}

@keyframes slide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--final-x), var(--final-y));
    }
}
  
.slide {
    animation: slide 0.65s ease forwards;
}
  
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
.fadeOut {
    animation: fadeOut 0.2s ease forwards;
}

.fadeIn {
    animation: fadeIn 0.2s ease forwards;
}

@keyframes growAndShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.growAndShrink {
    animation: growAndShrink 0.5s ease;
}

@keyframes fadeFill {
    0% { font-variation-settings: 'FILL' 1; }
    100% { font-variation-settings: 'FILL' 0; }
}

.fadeFill {
    animation: fadeFill 0.5s ease forwards;
}
  