<div class="container-lg">

  <!-- Navbar -->
  <div id="navbar" class="d-flex align-items-center p-md-3 p-2 border-bottom">
    <div id="game-title">
      <span class="roboto-serif-header font-size-md-28 me-sm-3 me-1">Connections</span>
      <span *ngIf="!isMobile" class="roboto-serif-body font-size-md-20">{{ date }}</span>
    </div>
    <div class="icons-group d-flex ms-auto">
      <span class="material-symbols-outlined me-sm-1 font-size-md-24">
        lightbulb
      </span> 
      <span class="material-symbols-outlined ms-sm-2 me-sm-1 ms-1 font-size-md-24">
        settings
      </span>
      <span class="material-symbols-outlined ms-sm-2 me-sm-1 ms-1 font-size-md-24">
        bar_chart
      </span>
      <span class="material-symbols-outlined ms-sm-2 ms-1 font-size-md-24">
        help
      </span>
    </div>
  </div>

  <!-- Message -->
  <div id="message" class="d-flex align-items-center justify-content-center py-md-4 py-3">
    <span class="open-sans-body font-size-md-16">{{ message }}</span>
  </div>

  <!-- Game -->
   <div id="game" class="d-flex justify-content-center">
    <div class="game-grid">
      <div class="row">
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[0])">{{words[0] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[1])">{{words[1] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[2])">{{words[2] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[3])">{{words[3] | uppercase}}</span>
        </div>
      </div>
      <div class="row">
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[4])">{{words[4] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[5])">{{words[5] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[6])">{{words[6] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[7])">{{words[7] | uppercase}}</span>
        </div>
      </div>
      <div class="row">
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[8])">{{words[8] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[9])">{{words[9] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[10])">{{words[10] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[11])">{{words[11] | uppercase}}</span>
        </div>
      </div>
      <div class="row">
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[12])">{{words[12] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[13])">{{words[13] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[14])">{{words[14] | uppercase}}</span>
        </div>
        <div 
          class="col d-flex justify-content-center align-items-center text-center wordTile m-1 py-md-4 py-3 px-1">
          <span class="open-sans-header" [ngClass]="adjustFontSizeAndWidth(words[15])">{{words[15] | uppercase}}</span>
        </div>
      </div>
   </div>

</div>


<router-outlet />
