$color: black;
$background: white;
$yellow: #f9df6d;
$green: #a0c35a;
$blue: #b0c4ef;
$purple: #ba81c5;
$yellowOverlay: rgba(249, 223, 109, 0.75);
$greenOverlay: rgba(160, 195, 90, 0.75);
$blueOverlay: rgba(176, 196, 239, 0.75);
$purpleOverlay: rgba(186, 129, 197, 0.75);
$tileBackground: #efefe6;
$selectedTileBackground: #5a594e;
$wrongGuessTileBackground: #aeaea3;
$layoverBackground: #b3a7fe;
$alertBackground: #323232;
$alertColor: white;
$iconsHoverBackground: #b2a7fe40;
$primaryButtonBackground: #212529;
$primaryButtonBackgroundActive: #212529bf;
$primaryButtonColor: white;
$dropdownItemHoverBackground: #efefe6;
$dropdownItemActiveBackground: #aeaea3;
$sheenColor: #ffffff40;