$color: white;
$background: black;
$yellow: #f9df6d;
$green: #a0c35a;
$blue: #b0c4ef;
$purple: #ba81c5;
$yellowOverlay: rgba(249, 223, 109, 0.75);
$greenOverlay: rgba(160, 195, 90, 0.75);
$blueOverlay: rgba(176, 196, 239, 0.75);
$purpleOverlay: rgba(186, 129, 197, 0.75);
$tileBackground: #323232;
$selectedTileBackground: #818181;
$wrongGuessTileBackground: #aeaea3;
$layoverBackground: #282C35;
$alertBackground: #efefe6;
$alertColor: black;
$iconsHoverBackground: #b2a7fe40;
$primaryButtonBackground: #dbdbdb;
$primaryButtonBackgroundActive: #dbdbdbbf;
$primaryButtonColor: black;
$dropdownItemHoverBackground: #323232;
$dropdownItemActiveBackground: #6a6a6a;
$bs-box-shadow: 0 0.5rem 1rem #ffffff26;