@import "../../../styles.scss";
@import "../../app.component.scss";

.popover {
    background-color: white;
    width: 100%;
    max-width: 650px;
    max-height: 80%;
}

.popover-button {
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
    border-radius: 8px;
}
.popover-button:hover {
    background-color: #212529;
    color: white;
}
.popover-button:active {
    box-shadow: var(--bs-box-shadow) !important;
}