@import "../../../styles.scss";
@import "../../app.component.scss";

.connections-gif {
    height: 60px;
    @media (max-width: 768px) {
        height: 30px;
    }
}

.layover {
    min-height: fit-content;
    background-color: var(--layoverBackground);
    .connections-img {
        height: 150px;
        @media (max-width: 768px) {
            height: 80px;
        }
    }
    .play-button {
        border-radius: 25px;
        width: 70%;
        max-width: 200px;
        color: var(--primaryButtonColor);
        border: 1px solid var(--primaryButtonBackground);
        background-color: var(--primaryButtonBackground);
    }
    
    .play-button:active {
        color: var(--primaryButtonColor);
        background-color: var(--primaryButtonBackgroundActive);   
    }

    .login-button-div {
        width: 70%;
        max-width: 200px;
        a {
            .login-button {
                width: 100%;
                border-radius: 25px;
                color: var(--primaryButtonBackground);
                border: 1px solid var(--primaryButtonBackground);
                background-color: transparent;
            }
            
            .login-button:active {
                color: var(--primaryButtonColor);
                background-color: var(--primaryButtonBackgroundActive); 
            }
        }
    }
}

